header{
    background-color:lavenderblush;
    color: black;
    text-align: center;
    font-size: larger;
    height: 50px;
    margin-bottom: 20px;
} 

body{
    background-color: lavenderblush;
}
#container{
    width: 100%;
    height: 100%; 
    
    box-sizing: initial;
}
#histBox{
    background-color: rgb(68, 81, 148);
    color:white;
}
#search{
    background-color: lightsteelblue;
    height: 800px;
    width: 20%;
    float: left;
    padding:5px;
    text-align: center;
}
 
#display{
    width: 75%;
    height: 800px;
    margin-left: 21%;
}

#weather{
    height: 70%;
    
    margin-bottom: 20px;
}

#forecast{
    border: 5px solid black;
    height: 30%;
    padding-left: 10%;
    background-color: gray;
    color: white;
}

#display{
    background-color: lightskyblue;
}

#searchBtn{
    background-color: dodgerblue;
}

#day0{
    width: 15%;
    background-color: dodgerblue;
    color: white;
    font-size: smaller;
    height: 162px;
    border-radius: 30px;
    text-align: center;
    float:left;
    margin-right: 20px;
}

#day1{
    width: 15%;
    background-color: dodgerblue;
    color: white;
    font-size: smaller;
    height: 162px;
    border-radius: 30px;
    text-align: center;
    float:left;
    margin-right: 20px;
}

#day2{
    width: 15%;
    background-color: dodgerblue;
    color: white;
    font-size: smaller;
    height: 162px;
    border-radius: 30px;
    text-align: center;
    float:left;
    margin-right: 20px;

}

#day3{
    width: 15%;
    background-color: dodgerblue;
    color: white;
    font-size: smaller;
    height: 162px;
    border-radius: 30px;
    text-align: center;
    float:left;
    margin-right: 20px;
}

#day4{
    width: 15%;
    background-color: dodgerblue;
    color: white;
    font-size: smaller;
    height: 162px;
    border-radius: 30px;
    text-align: center;
    float:left;
    margin-right: 20px;
}
